<div id="Controls" class="jog-panel">
<div>Height: </div>
<div data-bind="attr: {text: settings.settings.plugins.helloworld.zheight}"></div>
<button class="btn btn-primary" data-bind="click: getheight">{{ _('update') }}</button>
</div>
<div id="GCodeselection" class="jog-panel">
</div>
